<%- include("layout/header1") %>
<div class="col-12 mt-3">
    <h2>ผู้สร้างวัด</h2><br>
    <p> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;วัดพระสิงห์ วรมหาวิหาร สร้างขึ้นเมื่อ พ.ศ. ๑๘๘๘ โดยพญาผายู กษัตริย์เชียงใหม่ องค์ที่ ๕ แห่งราชวงศ์มังราย
        พญาผายูได้นำอัฐิ พญาคำฟู ผู้เป็นราชบิดา ซึ่งครองอยู่เมืองเชียงแสนมาบรรจุในสถูปประดิษฐานไว้ ณ ที่แห่งนี้
        แล้วสร้างเป็นขึ้น ซึ่งเดิมทีเรียกวัดแห่งนี้ว่า วัดลีเชียงพระ เพราะที่บริเวณหน้าวัดเป็นสถานที่ค้าขายของชาวเมือง
        จนกลายเป็นตลาดลีเชียงพระ และเรียกชื่อวัดว่า "วัดลีเชียงพระ"<br><br>

        &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;ต่อมาประมาณ พ.ศ. ๑๙๔๓ เจ้ามหาพรหม กษัตริย์เมืองเชียงราย ได้อัญเชิญ พระพุทธสิหิงค์ หรือพระสิงห์
        ซึ่งได้มาจากเมืองกำแพงเพชร นำมาถวายพญาแสนเมืองมากษัตริย์เชียงใหม่ พญาแสนเมืองมาได้อัญเชิญพระพุทธสิหิงค์
        หรือพระสิงห์ประดิษฐานไว้ที่วัดลีเชียงพระประชาชนจึงเรียกวัดลีเชียงพระว่า"วัดพระสิงห์" นับตั้งแต่นั้นมา<br><br>

        &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;วัดพระสิงห์ วรมหาวิหาร ได้รับพระราชทานโปรดเกล้าฯ ยกฐานะเป็นพระอารามหลวงชั้นเอก ชนิด วรมหาวิหาร เมื่อวันที่ ๓๐
        พฤศจิกายน พ.ศ. ๒๔๘๓ ตรงกับรัชสมัย พระบาทสมเด็จพระเจ้าอยู่หัว อานันทมหิดล รัชกาลที่ ๘

    </p>
</div>
<%- include("layout/footer2") %>