<%- include("layout/header1") %>
<div class="col-12 mt-3">
    <center>
        <h3 class="w-100 mt-3">ประวัติศาสตร์ วัดพระสิงห์วรมหาวิหาร</h3>
    </center><br>
    <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;วัดพระสิงห์ หรือมีชื่อเต็มว่า วัดพระสิงห์วรมหาวิหาร
        เป็นวัดสำคัญวัดหนึ่งของเมืองเชียงใหม่ เป็นวัดที่ประดิษฐาน พระสิงห์ (พระพุทธสิหิงค์)
        พระพุทธรูปศักดิ์สิทธิ์คู่เมืองเชียงใหม่และแผ่นดินล้านนา พระพุทธรูปเป็นศิลปะ เชียงแสนรู้จักกันในชื่อ
        "เชียงแสนสิงห์หนึ่ง วัดพระสิงห์ มีสถาปัตยกรรมล้านนาอันงดงามเป็นที่รู้จักและ คุ้นชื่อกันอย่างดี
        วัดพระสิงห์ยังเป็นศูนย์รวมจิตใจของชาวเชียงใหม่ที่ให้ความศรัทธาและจะเดินทาง มาเคารพ
        สักการะกันอย่างเนื่องแน่นเป็นประจำ ทุกปีเมื่อถึงช่วงเทศกาลสงกรานต์หรืองานประเพณีปี๋ใหม่เมือง ทางราชการ
        จึงได้อัญเชิญพระพุทธสิหิงค์ขึ้นประดิษฐานบนรถบุษบกแห่ไปรอบเมืองเพื่อให้ศรัทธา ประชาชนได้พากันมา สรงน้ำเนื่อง
        ในเทศกาลปีใหม่ ตามคติล้านนา คนเกิดปีมะโรงต้องมาไหว้พระสิงห์ให้ได้สักครั้งหนึ่งในชีวิต<br><br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;วัดพระสิงห์ วรมหาวิหาร เป็นพระอารามหลวงชั้นเอก ชนิดวรมหาวิหาร
        ตั้งอยู่เลขที่ 2 ถนนสามล้าน ตำบลพระสิงห์
        อำเภอเมืองเชียงใหม่ จังหวัดเชียงใหม่ ตั้งอยู่ในเขตกำแพงเมืองเก่า ลักษณะพื้นที่เป็นสี่เหลี่ยมผืนผ้า มีเนื้อที่ 25
        ไร่ 2 งาน 25 ตารางวา มีถนนล้อมรอบวัดทั้ง 4 ด้าน ทิศเหนือติดถนนอินทวโรรส ทิศตะวันออกติดถนนสามล้าน
        ทิศใต้ติดถนนแสนเมืองมา ทิศตะวันตกติดถนนอินทวโรรส

    </p>
    <center><img class="w-75 "
            src="https://upload.wikimedia.org/wikipedia/commons/9/96/Chiang_Mai_-_Wat_Phra_Singh_-_0004.jpg" alt="">

        <h3 class="w-100 mt-3">ปูชนียสถานและปูชนียวัตถุที่สำคัญภายในวัดพระสิงห์</h3>
    </center><br>
    <p>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1. พระพุทธสิหิงค์ หรือ พระสิงห์ เป็นพระพุทธรูปเก่าแก่ศักดิ์สิทธิ์
        สำคัญคู่บ้านคู่เมืองของเมืองเชียงใหม่ตามประวัติกล่าวว่าสร้างขึ้นเมื่อปีพุทธศักราช 700 โดยกษัตริย์ลังกา 3
        พระองค์และพระอรหันต์ 20 รูป เป็นผู้สร้าง
        พ.ศ.1931 พระเจ้า แสนเมืองมา ได้อัญเชิญพระพุทธสิหิงค์ ประดิษฐานที่วัดลีเชียงพระ (วัดพระสิงห์)
        ปัจจุบันประดิษฐานอยู่ในพระวิหารลายคำ วัดพระสิงห์ วรมหาวิหาร เทศกาลสงกรานต์ทุกปีมี
        พิธีอาราธนาอัญเชิญพระพุทธสิหิงค์ออกแห่ ให้ประชาชนได้สรงน้ำสักการบูชา เป็นเวลา 3 วัน 3 คืน <br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 2. พระเจ้าทองทิพย์ เป็นพระพุทธรูปเก่าแก่สำคัญอีกองค์หนึ่ง พญาติโลกราช
        กษัตริย์เชียงใหม่ องค์ที่ 12แห่งราชวงศ์มังรายสร้างขึ้นเป็นที่ระลึกการทำสังคายนาพระไตรปิฎก ครั้งที่ 8
        ที่เชียงใหม่ เมื่อ พ.ศ.2020
        ปัจจุบันทางวัดพระสิงห์ ได้สร้างพระเจ้าทองทิพย์จำลองประดิษฐานอยู่มณฑปในพระอุโบสถวัดพระสิงห์วรมหาวิหาร <br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 3. พระศรีสรรเพชญ (หลวงพ่อโต) พระประธานในพระวิหารหลวง วัดพระสิงห์ วรมหาวิหาร
        เป็นพระพุทธรูปปูนปั้นเข้าใจว่าเป็นพระพุทธรูปพระประธานในพระวิหารหลังเดิมที่ถูกรื้อถอนไปในสมัยที่ครูบาศรีวิชัย
        มาเป็นเจ้าอาวาสและได้สร้างวิหารหลวงขึ้นมาแทน<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;4. พระเจ้าทันใจ เป็นพระพุทธรูปปูนปั้น สร้างเมื่อใดไม่ปรากฏหลักฐานแน่ชัด
        จากคำบอกเล่าของผู้เฒ่าผู้แก่ว่ามีอายุหลายร้อยปี ประดิษฐานอยู่ในพระวิหารพระเจ้าทันใจ<br>
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;5. พระพุทธไสยาสน์ (พระนอน) เป็นพระพุทธรูปปูนปั้นเก่าแก่สร้างเมื่อ พ.ศ. 2094
        และได้มีการบูรณะหลายครั้ง ครั้งที่ 1
        พ.ศ. 2493 สมัยพระอุบาลีคุณูปมาจารย์ (ฟู อตฺตสิวมหาเถร) เป็นเจ้าอาวาส ครั้งที่ 2 เมื่อ พ.ศ. 2537
        สมัยพระธรรมสิทธาจารย์ (หนู ถาวรมหาเถระ) เป็นเจ้าอาวาส ครั้งที่ 3 พ.ศ. 2554 สมัยพระราชสิงหวรมุนี (โสภณ โสภโณ)
        เป็นเจ้าอาวาส
    </p>
    <center><img class="w-75 mt-3 " src="http://www.วัดพระสิงห์เชียงใหม่.com/img/story/DSC_0407.JPG" alt=""><br>
        <h3 class="mt-3">ปูชนียสถานที่สำคัญที่โดดเด่น</h3>
    </center>
    <P> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1. พระวิหารลายคำ สร้างขึ้นสมัยของพญาธรรมลังกาหรือพระเจ้าช้างเผือก ระหว่าง พ.ศ. 2358-2364
        เป็นสถานที่ประดิษฐานของพระพุทธสิหิงค์ พระวิหารลายคำสร้างเป็นศิลปะล้านนากว้าง 8 เมตร ยาว 30 เมตร มีช่อฟ้า ใบระกา
        หลังคามุงกระเบื้อง ดินเผาที่มีความสวยงามมาก ได้รับรางวัลสถาปัตยกรรมดีเด่น
        มีลวดลายทองล่องชาดเทคนิคการฉลุลายปรากฏบนฝาผนังหลังพระประธาน และเสากลางวิหารและเสาระเบียงด้านหน้าพระวิหาร
        ตลอดถึงบางส่วนของโครงไม้ บนฝาผนังภายในมีภาพจิตรกรรมฝาผนัง เรื่อง สังข์ทองและสุวรรณหงส์
        เขียนด้วยสีฝุ่นมีความงดงามมาก<br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2. พระวิหารหลวง สร้างขึ้นเมื่อ พ.ศ. 2467 เป็นที่ประดิษฐานพระศรีสรรเพชญ (หลวงพ่อโต)
        พระวิหารหลวงสถาปัตยกรรมแบบล้านนา กว้าง 24 เมตร ยาว 56 เมตร ผนัง-ต้นเสาคอนกรีตเสริมเหล็ก เครื่องบนไม้สักล้วน
        หลังคามุงกระเบื้อง มีช่อฟ้าใบระกา หางหงส์ มีมุขหน้าและมุขหลัง ด้านหน้ามี 3 ประตู ด้านหลังมีประตู 2 ข้าง
        ด้านข้างมี 2 ประตู มีหน้าต่าง ด้านละ 5 ช่อง พระวิหารหลังเดิมเป็นจัตุรมุข
        ซึ่งได้ชำรุดทรุดโทรมมากจนไม่สามารถบูรณะให้เหมือนเดิมได้
        ครูบาศรีวิชัยจึงได้รื้อและสร้างพระวิหารหลวงปัจจุบันนี้แทน<br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3. พระอุโบสถ หรือพระอุโบสถสองสงฆ์ ตามหลักศิลาจารึกบอกว่า
        สร้างสมัยของพระเจ้ากาวิละพระเจ้ากาวิละและเจ้าอาวาสวัดพระสิงห์สมัยนั้น ได้ร่วมกันสร้างและจัดงานฉลองเมื่อ พ.ศ.
        2355 พระอุโบสถเป็นสถาปัตยกรรมล้านนากว้าง 6 วา 10 นิ้ว ยาว 14 วา 1 ศอก มุงกระเบื้องดินเผามีช่อฟ้าใบระกา มีมุขทั้ง
        2 ด้าน มีซุ้มประตูทางเข้าทั้ง 2 ด้านที่งดงาม รูปทรงครึ่งปูนครึ่งไม้ ด้านบนเป็นเครื่องไม้ทั้งหมด
        ตรงกลางพระอุโบสถมีมณฑปที่สวยงาม เป็นที่ประดิษฐานพระพุทธรูปพระเจ้าทองทิพย์จำลอง
        ปัจจุบันได้นำหลักศิลาจารึกบันทึกการสร้างพระอุโบสถ ซึ่งพิพิธภัณฑ์แห่งชาติเชียงใหม่ได้เก็บไว้
        ได้นำมาไว้ในพระอุโบสถแล้ว เหตุที่เรียกว่าพระอุโบสถสองสงฆ์ เพราะเป็นการสร้างเพื่อจำลองการทำ
        สังฆกรรมของพระภิกษุสงฆ์และพระภิกษุณีสงฆ์<br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;4. หอไตร (หอพระไตรปิฎก) สร้างขึ้นในสมัยของพระเจ้ากาวิละเมื่อ พ.ศ. 2354 เป็นสถาปัตยกรรมล้านนา กว้าง 4 วา 3 ศอก 4
        นิ้ว ยาว 8 วา 118 นิ้ว เป็นที่เก็บคัมภีร์ และหีบธรรม มีความงดงาม มีลวดลายปูนปั้นประดับตกแต่งรอบบริเวณหอไตร<br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;5. หอไตรเล็ก สร้างขึ้นใหม่ โดยหลวงอนุสารสุนทรและนางอนุสาร ชัวย่งเส็ง เป็นผู้สร้างขึ้นเมื่อวันที่ 10 สิงหาคม พ.ศ.
       2469 และได้บูรณะ เมื่อวันที่ 19 พฤษภาคม พ.ศ. 2548 <br>

       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;6. หอจงกรมครูบาศรีวิชัย สร้างเมื่อ พ.ศ. 2471 โดยหลวงอนุสารสุนทร สร้างถวายครูบาศรีวิชัย ใช้เป็นที่เดินจงกรม
        ได้บูรณะเมื่อ พ.ศ. 2547 เดิมมีทางเดินเชื่อมไปที่กุฏิไม้สักซึ่งกุฏิของครูบาศรีวิชัยปัจจุบันกุฏิไม้สักถูกไฟไหม้ไปแล้ว

    </P>

</div>
<%- include("layout/footer2") %>