<%- include("layout/header1") %>
<div class="col-12 mt-3">
    <h2 class="w-100 mt-3">ประวัติศาสตร์ วัดพระสิงห์วรมหาวิหาร</h2><br>
    <p> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;วัดพระสิงห์ หรือมีชื่อเต็มว่า วัดพระสิงห์วรมหาวิหาร
        เป็นวัดสำคัญวัดหนึ่งของเมืองเชียงใหม่ เป็นวัดที่ประดิษฐาน พระสิงห์ (พระพุทธสิหิงค์)
        พระพุทธรูปศักดิ์สิทธิ์คู่เมืองเชียงใหม่และแผ่นดินล้านนา พระพุทธรูปเป็นศิลปะ เชียงแสนรู้จักกันในชื่อ
        "เชียงแสนสิงห์หนึ่ง วัดพระสิงห์ มีสถาปัตยกรรมล้านนาอันงดงามเป็นที่รู้จักและ คุ้นชื่อกันอย่างดี
        วัดพระสิงห์ยังเป็นศูนย์รวมจิตใจของชาวเชียงใหม่ที่ให้ความศรัทธาและจะเดินทาง มาเคารพ
        สักการะกันอย่างเนื่องแน่นเป็นประจำ ทุกปีเมื่อถึงช่วงเทศกาลสงกรานต์หรืองานประเพณีปี๋ใหม่เมือง ทางราชการ
        จึงได้อัญเชิญพระพุทธสิหิงค์ขึ้นประดิษฐานบนรถบุษบกแห่ไปรอบเมืองเพื่อให้ศรัทธา ประชาชนได้พากันมา สรงน้ำเนื่อง
        ในเทศกาลปีใหม่ ตามคติล้านนา คนเกิดปีมะโรงต้องมาไหว้พระสิงห์ให้ได้สักครั้งหนึ่งในชีวิต<br><br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;วัดพระสิงห์ วรมหาวิหาร เป็นพระอารามหลวงชั้นเอก ชนิดวรมหาวิหาร ตั้งอยู่เลขที่ ๒ ถนนสามล้าน ตำบลพระสิงห์
        อำเภอเมืองเชียงใหม่ จังหวัดเชียงใหม่ ตั้งอยู่ในเขตกำแพงเมืองเก่า ลักษณะพื้นที่เป็นสี่เหลี่ยมผืนผ้า มีเนื้อที่ ๒๕
        ไร่ ๒ งาน ๒๕ ตารางวา มีถนนล้อมรอบวัดทั้ง ๔ ด้าน ทิศเหนือติดถนนอินทวโรรส ทิศตะวันออกติดถนนสามล้าน
        ทิศใต้ติดถนนแสนเมืองมา ทิศตะวันตกติดถนนอินทวโรรส

    </p>
</div>
<%- include("layout/footer2") %>