<%- include("layout/header1") %>
<div class="col-12 ">
    <h2 class="w-100 mt-3">ประวัติพระพุทธสิหิงค์</h2><br>
    <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;พระพุทธสิหิงค์ หรือ พระสิงห์ เป็นพระพุทธรูปโบราณหล่อด้วยสำริดหุ้มทอง ปางสมาธิ สูง 79 เซนติเมตร หน้า ตักกว้าง 63
        เซนติเมตร เป็นศิลปะแบบลังกา ตามประวัติกล่าวว่า พระเจ้าสีหฬะ พระมหากษัตริย์แห่ง ลังกาทวีป ทรงสร้างขึ้น เมื่อ พ.ศ.
        700 ต่อมา เจ้านครศรีธรรมราชได้ไปขอมาถวายพระร่วงแห่งกรุงสุโขทัย เมื่อสมเด็จ พระบรมราชาธิราชที่ 1
        แห่งกรุงศรีอยุธยาได้กรุงสุโขทัยเป็นเมืองขึ้น จึงได้อัญเชิญพระพุทธสิหิงค์มาประดิษฐาน ที่
        กรุงศรีอยุธยาต่อมาได้มีผู้นำไปไว้ที่เมืองกำแพงเพชรและเชียงราย เมื่อพระเจ้าแสนเมืองมา เจ้านครเชียงใหม่
        ยกทัพไปตีเมืองเชียงรายได้ จึงได้อัญเชิญพระพุทธสิหิงค์มาประดิษฐานที่เชียงใหม่พร้อมกับพระแก้วมรกต<br><br>

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;เมื่อสมเด็จพระนารายณ์มหาราชตีเมืองเชียงใหม่ได้เมื่อ พ.ศ. 2205 ได้อัญเชิญพระพุทธสิหิงค์มาประดิษฐานที่
        วัดพระศรีสรรเพชญ์กรุงศรีอยุธยาเป็นเวลานานถึง 105 ปี เมื่อเสียกรุงศรีอยุธยาครั้งที่ 2 แก่พม่าใน พ.ศ. 2310
        ชาวเชียงใหม่ได้อัญเชิญพระพุทธสิหิงค์กลับไปที่เชียงใหม่ เมื่อมณฑลพายัพได้กลับมาเป็นของไทย ในสมัย
        พระบาทสมเด็จพระพุทธยอดฟ้าจุฬาโลกมหาราช สมเด็จพระบวรราชเจ้ามหาสุรสิงหนาทโปรดให้อัญเชิญลงมา
        ยังกรุงเทพมหานครเมื่อปี พ.ศ. 2338 ปัจจุบันพระพุทธสิหิงค์ ประดิษฐานอยู่ ณ พระที่นั่งพุทไธสวรรย์ พระราชวัง
        บวรสถานมงคล โดยจะมีพิธีเชิญออกมาช่วงเทศกาลสงกรานต์ให้ประชาชนไทยได้สักการะและสรงน้ำ
        ส่วนพระสิงห์ที่ประดิษฐานที่วัดแห่งนี้เป็นพระพุทธรูปจำลอง
    </p>
</div>
<%- include("layout/footer2") %>