<div class="footer border mt-3 rounded alert alert-secondary">
  <div class="row p-4">
    <div class="col-4">
      <h4>ลิ้งค์ที่เกี่ยวข้อง</h4>
      <ul class="list-unstyled">
        <li><a href="#">สำนักงานพระพุทธศาสนาแห่งชาติ</a></li>
        <li><a href="#">สำนักงานพระพุทธศาสนาจังหวัดเชียงใหม่</a></li>
        <li><a href="#">วัฒนธรรมจังหวัดเชียงใหม่</a></li>
        <li><a href="#">แม่กองบาลีสนามหลวง</a></li>
        <li><a href="#">แม่กองธรรมสนามหลวง</a></li>
        <li><a href="">มหาเถรสมาคม</a></li>
        <li><a href="">ศ.ต.ภ. รายชื่อ ศ.ต.ภ</a></li>
        <li><a href="">ผลสอบบาลีสนามหลวง</a></li>
        <li><a href="">ผลสอบนักธรรม-ธรรมศึกษา</a></li>
        <li><a href="">ร่วมเป็นเจ้าภาพถวายภัตตาหารเพล</a></li>
      </ul>
    </div>
    <div class="col-4">
      <h4>ลิงค์น่าสนใจ</h4>
      <ul class="list-unstyled">
        <li><a href="#">หน้าหลัก</a></li>
        <li><a href="#">ทดสอบ</a></li>
        <li><a href="#">ทดสอบ</a></li>
        <li><a href="#">ทดสอบ</a></li>
        <li><a href="#">ทดสอบ</a></li>
      </ul>
    </div>
    <div class="col-4">
      <i class="fas fa-gopuram fa-4x"></i>
      <address>
        <strong>วัดพระสิงห์ วรมหาวิหาร</strong> <br>

        เลขที่ 2 ถนนสามล้าน ตำบลพระสิงห์ อำเภอเมือง จังหวัดเชียงใหม่ รหัสไปรษณีย์ 50200
        สำนักงานวัดพระสิงห์ วรมหาวิหาร
        <p>โทร 053-416027 Fax 053-416019</p>
      </address>
    </div>
  </div>
<<<<<<< HEAD
  <p class="p-3">&copy; สงวนสิทธิ์ 2019, คณะนักศึกษาราชภัฏเชียงใหม่</p>
=======
  <hr>
  <p class="p-3">&copy; สงวนสิทธิ์ 2019, นายบัณฑิต นันทะเทศ</p>
>>>>>>> 161e0383bc4d5f151eb187b245b654505b266ccb
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>